xml/schema/account.xsd

<?xml version="1.0"?>
<!--12:28:08AM, 22/10/11 AEST-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="account">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="username" type="xs:string"/>
      <xs:element name="uid" type="xs:numeric"/>
      <xs:element name="joined" type="xs:date"/>
	  <xs:element name="email" type="xs:string"/>
      <xs:element name="rank" type="xs:numeric"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>